      {
        "datasource": "Shinken",
        "enable": false,
        "iconColor": "rgb(255, 0, 0)",
        "iconSize": 20,
        "index": "",
        "lineColor": "rgba(255, 0, 0, 0.26)",
        "name": "Critical",
        "query": "type:(ALERT) AND state_type:(HARD) AND state:(2)",
        "showLine": true,
        "tagsField": "service_description",
        "textField": "plugin_output",
        "timeField": "@timestamp",
        "titleField": "host_name"
      },
      {
        "datasource": "Shinken2",
        "enable": false,
        "iconColor": "rgba(237, 129, 40, 0.89)",
        "iconSize": 20,
        "index": "",
        "lineColor": "rgba(255, 0, 0, 0.26)",
        "name": "Warning",
        "query": "type:(ALERT) AND state_type:(HARD) AND state:(1)",
        "showLine": true,
        "tagsField": "service_description",
        "textField": "plugin_output",
        "timeField": "@timestamp",
        "titleField": "host_name"
      },
      {
        "datasource": "Shinken2",
        "enable": false,
        "iconColor": "rgb(64, 255, 0)",
        "iconSize": 20,
        "index": "",
        "lineColor": "rgba(162, 255, 96, 0.59)",
        "name": "OK",
        "query": "type:(ALERT) AND state_type:(HARD) AND state:(0)",
        "showLine": true,
        "tagsField": "service_description",
        "textField": "plugin_output",
        "timeField": "@timestamp",
        "titleField": "host_name"
      },

