        {
        "allFormat":"glob",
        "auto":true,
        "auto_count":100,
        "current":{
          "text":"auto",
          "value":"$__auto_interval"
        },
        "datasource":null,
        "includeAll":false,
        "multi":false,
        "multiFormat":"glob",
        "name":"inter",
        "options":[{
          "selected":true,
          "text":"auto",
          "value":"$__auto_interval"
        },
        {
          "selected":false,
          "text":"30s",
          "value":"30s"
        },
        {
          "selected":false,
          "text":"1m",
          "value":"1m"
        },
        {
          "selected":false,
          "text":"2m",
          "value":"2m"
        },
        {
          "selected":false,
          "text":"5m",
          "value":"5m"
        },
        {
          "selected":false,
          "text":"10m",
          "value":"10m"
        },
        {
          "selected":false,
          "text":"30m",
          "value":"30m"
        },
        {
          "selected":false,
          "text":"1h",
          "value":"1h"
        }],
        "query":"30s,1m,2m,5m,10m,30m,1h",
        "refresh":false,
        "type":"interval"
      },

